<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h2>
                <%= product.title %>
            </h2>
            <hr>
            <div class="image">
                <img src="/<%= product.imageURL %>" alt="<%= product.title %>">
            </div>
            <hr>
            <h2>
                $<%= product.price %>
            </h2>
            <hr>
            <h2>
                <%= product.description %>
            </h2>
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs') %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>